Source: kano-splash
Maintainer: Team Kano <dev@kano.me>
Section: admin
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), dh-exec, libraspberrypi-dev, libpng12-dev,
               gcc, g++, gettext

Package: kano-splash
Architecture: any
Depends: ${misc:Depends}, libpng12-0, libraspberrypi-bin, procps, x11-utils, dbus, libkano-c-logging
Replaces: kano-toolset (<< 3.15.0-1)
Breaks: kano-toolset (<< 3.15.0-1)
Description: Splash image loader
  A splash image and animation loader using dispmanx
